<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Casala.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4885C0188F337EF61C19F2056DBE3D29FCFDF852</string>
				<key>dateExpires</key>
				<string>25/07/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4885C0188F337EF61C19F2056DBE3D29FCFDF852</string>
						<key>dateExpires</key>
						<string>25/07/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PMSSN6Z88H</string>
						<key>name</key>
						<string>Datanetiix Solutions Inc</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PMSSN6Z88H.com.dnx.casa</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PMSSN6Z88H</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Casala.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>48cdbc55-1fa6-425a-840b-1142b356027d</string>
				<key>dateExpires</key>
				<string>22/05/25</string>
				<key>name</key>
				<string>casala_dev_pp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PMSSN6Z88H</string>
				<key>name</key>
				<string>Datanetiix Solutions Inc</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
